/*===================================================
	Fixed header styles
===================================================*/
body {
  min-height: 75rem;
  padding-top: 3.5rem;
} 

.bg-navbar-color {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#036197+0,2989d8+50,207cca+51,7db9e8+100 */

	background: #036197; /* Old browsers */

	background: -moz-linear-gradient(top,  #036197 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */

	background: -webkit-linear-gradient(top,  #036197 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(to bottom,  #036197 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036197', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	
	box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, .5);
}

.logo-g-dot {
	border-radius: 50%;
	height: 50px;
}

/*==================================================
	Headline in jumbotron
==================================================*/
#home {
	height: 50em;
	margin-top: 1.1em;
	border-radius: 0%;
}


.name {
		/* oknqll edit */
	font-family: Lato, sans-serif;
	font-weight: 900;
	margin-top: 1.5em;
    z-index: 1;
    width: 100%;
    height: 100%;
/*    display: table;*/
    text-align: right;
    color: #fff;
/*    color: rgba(255,255,255,1);*/
	

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sub-name {
	text-align: right;
	color: #fff;
}

.code-pic {
	background-image: url("../img/code-portrait-blue.png");
	background-attachment: inherit;
	background-size: 1360px;
	background-repeat: no-repeat;
	background-color: #000;
	padding-top: 10em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.ctr-aln {
/*	margin-left: 42%;*/
	position: absolute;
    top: 130%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.rt-aln {
	position: absolute;
    top: 130%;
    right: 43.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/*===================================================
	Global styles
===================================================*/

.jt-heading {
	text-align: center;
}

.img-size {
	max-height: 350px;
	padding-bottom: 1em;
}

/*===================================================
	Sticky footer styles
===================================================*/


a {
    text-decoration: none;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.clear {
    clear: both;
}

.white-color-fade {
	color: rgba(255, 255, 255, 60%);
}

footer {
    background-color: #142141;
    position: sticky;
    z-index: 1;
}
footer .splitter {
    background-color: #0275D8;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);

    -webkit-background-size: 150px 150px;
    -moz-background-size: 150px 150px;
    background-size: 150px 150px;
    
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;

    height: 10px;
}
footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 25px 0;
    position: sticky;
    width: 95%;
}
footer > ul li {
    float: left;
    padding: 20px 15px;
    width: 33.3%;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 13px;
    line-height: 20px;
    margin-left: 10px;
    position: sticky;
    text-align: justify;
}
.text h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #FFDD00;
    font-weight: bold;
}
.text a:hover {
    border-color: #5CB85C;
}
footer .bar {
    background-color: #036197;
    padding: 20px 0;
}
footer .bar-wrap {
    font-size: 12px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 95%;
}
.links {
    float: left;
    list-style: none outside none;
    position: sticky;
}
.links li {
    float: left;
    margin-right: 10px;
}
.links a {
    color: rgba(255, 255, 255, 60%);
}
.links a:hover {
    color: #FFFFFF;
}
.social {
    position: inherit;
    right: 0;
    top: 0;
	text-align: center;
}
.social a {
    color: #778888;
    margin-left: 20px;
}
.social a:hover {
    color: #FFFFFF;
}
.social .icon {
    display: inline-block;
    font-size: 36px;
    margin-right: 1px;
    vertical-align: middle;

    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -ms-transition: -ms-transform .3s linear;
    -o-transition:  -o-transform .3s linear;
    transition: transform .3s linear;
}
.social a:hover  .icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.social .info {
    display: inline-block;
    vertical-align: middle;
}
.social .info .follow {
    display: block;
}
.social .info .num {
    display: block;
}
.copyright {
    margin-top: 0px;
	text-align: center;
}




/*=======================================
	@media
=======================================*/

@media screen and (max-width: 1199px){
	.rt-aln {
		right: 39%;
	}
}

@media screen and (max-width: 1029px) {
	#home {
		height: 36.7em;
	}
	
	.display-3.name {
		font-size: 3em;
		margin-top: .7em;
	}
	
	.sub-name {
		font-size: .8em;
	}
	
	.rt-aln {
		font-size: .8em;
		right: 42%;
	}
	
	.code-pic {
		background-size: 1000px;
	}
}

/* responsive rules */
@media screen and (max-width: 1000px){
	.rt-aln {
		right: 39.5%;
	}
	
    .links, .social, .copyright{
        float:none;
        text-align:center;
    }
    .social {
        position:sticky;
        margin:10px 0;
    }
    .links li {
        display:inline-block;
        float:none;
    }
    .bar {
        position:sticky;
    }
    .bar-wrap {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 991) {
	.logo-g-dot {
		height: 40px;
	}
	
	.rt-aln {
		right: 30%;
	}
	
	.code-pic {
		background-size: 500px;
	}
	
}

@media screen and (max-width: 835px)  {
	#home {
		margin-top: 0em;
	}
	
	.logo-g-dot {
		height: 30px;
	}
	
    footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
	#home {
		height: 31.5em;
	}
	
	.name {
		text-align: center;
	}
	
	.sub-name {
	text-align: center;
	color: #fff;
}
	
	.rt-aln {
		align-items: center;
		margin-right: -7%;
		transform: translate(0%, -50%)
	}
	
	.code-pic {
		background-size: 850px;
	}
	
	.links li {
        margin-right:5px;
    }
}

@media screen and (max-width: 517px) {
	#home {
		height: 26em;
	}
	
	.display-3.name {
		margin-top: -1.5em;
	}
	
	.sub-name {
		margin-top: -4em;
		text-align: center;
		color: #fff;
	}
	
	.rt-aln {
		margin-right: -10%;
	}
	
	.display-3.name {
		line-height: 3em;
		top: 1em;
	}
	.code-pic {
		background-size: 700px;
	}
}

@media screen and (max-width: 360px) {
	.display-3.name {
		font-size: 2em;
		line-height: 4em;
		top: 2.6em;
	}
	
	.sub-name {
		font-size: .7em;
	}
	
	.rt-aln {
		font-size: .7em;
		margin-right: -20%;
	}
}

/*=======================================
	Animations
=======================================*/

.ani {
	position: inherit;
	height: 15em;
	margin: 1em 0 0;
	width: 100%;
	z-index: 0;
}
.ani div {
	width: 100%;
}
.ani div b {
	display: block;
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	background: rgba(0, 0, 0,0.1);

	/* okqll edit */
	border-radius: 10% 50% 50% 10%;
}
