@charset "UTF-8";
/* CSS Document */

* {
  	box-sizing: border-box;
}

/* The actual timeline (the vertical LINE) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 0;
}

/* The actual timeline (the vertical LINE) */
.timeline::after {
	content: '';
	position: absolute;
	width: 26px;
	background-color: #2F3132;
	
	background: -moz-linear-gradient(top, #292B2C 0%, #036197 100px); /* FF3.6-15 */

	background: -webkit-linear-gradient(top, #292B2C 0%, #036197 100px); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(to bottom, #292B2C 0%, #036197 100px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F3132', endColorstr='#036197', GradientType=0 ); /* IE6-9 */
	
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -15px;
	margin-top: -131px;
}

/* Container around content */
.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	z-index: 10;
	
	-webkit-animation: fadeIn 0.5s ease-out;
}

@-webkit-keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	
	1% {
		display: block;
		opacity: 0;
	}
	
	100% {
		display: block;
		opacity: 1;
	}
}

/* The circles on the timeline */
.timeline-container::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	right: -5px;
	background-color: white;
	/*border: 4px solid #DC3545;*/
	top: 25px; 		/* adjusts circle's height */
	border-radius: 50%;
	z-index: 10;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -10px;
}

.tl-heading {
	text-align: center;
	padding-top: 50px;
	z-index: 1;
}

.bracket-portfolio-top {
	font-family: Lato, sans-serif;
	font-weight: 700;
	transform: rotate(90deg); 
	text-align: center; 
	font-size: 1500%;
	margin-left: 35px;
	margin-top: -100px;
	margin-left: 
	z-index: -1;
}

.bracket-portfolio-bottom {
	font-family: Lato, sans-serif;
	font-weight: 700;
	transform: rotate(-90deg); 
	text-align: center; 
	font-size: 1500%;
	margin-left: -35px;
	margin-top: -150px;
	z-index: 0;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #036197;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #036197;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #036197;
  border-width: 10px 10px 10px 0;
  border-color: transparent #036197 transparent transparent;
}


/* The actual content */
.content-right {
	padding: 20px 30px;
	background-color: #036197;
	position: relative;
	border-radius: 6px;
	color: white;
	box-shadow: 2px 4px 2px 2px silver;
}

.content-left {
	padding: 20px 30px;
	background-color: #036197;
	position: relative;
	border-radius: 6px;
	color: white;
	text-align: right;
	box-shadow: -2px 4px 2px 2px silver;
}

.content-spacer {
	padding: 10px 30px;
	background-color: #fff;
	position: relative;
	border-radius: 6px;
	color: white;
}

.bg-fill {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#036197+0,2989d8+50,207cca+51,7db9e8+100 */

	background: #036197; /* Old browsers */

	background: -moz-linear-gradient(top,  #036197 0%, #7db9e8 100%); /* FF3.6-15 */

	background: -webkit-linear-gradient(top,  #036197 0%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(to bottom,  #036197 0%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036197', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

/* FONT STYLINGS */

.month {
	font-weight: 100;
}

.moment-title {
	font-weight: 900;
}

.description {
	font-style: italic;
	font-weight: 100;
	margin-bottom: 0px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
	
	.content-left {
		text-align: left;
	}

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
	  z-index: 0;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}