@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: 'Open Sans', Helvetica, Arial, 'sans-serif';

}


h1, h2, h3, h4, h5, h6 {
	color: #ff6200;
	margin-bottom: 0px;
}

h3 {
	font-weight: 400;
}

p {
	font-size: small;
	color: #aaa;
}


hr {
	background: #525252;
	height: 5px;
}

li {
	list-style: none;
}


.text {
	margin-top: 0px;
	padding-top: 0px;
}

strong {
	color: #535353;
}

/* FORMS */

form {
	width: 484px;
}

input {
	height: 30px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding-left: 12px;
	background: #f6f6f6;
	border-color: #ededed;
	border-style: solid;
}

input[type=text]{
	width: 466px;
}

input[type=tel]{
	width: 220px;
}

input[type=email]{
	width: 220px;
	margin: 0px;
}



textarea {
	padding: 10px 0px 0px 10px;
	width: 469px; height: 109px;
	background: #f6f6f6;
	border-color: #ededed;
	border-style: solid;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

input[type=submit] {
	width: 98px;
	height: 36px;
	color: white;
	background: #ff6200;
	border: none;
	margin-top: 22px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

input[type=submit]:hover {
	background: #be3600; 
}

.top-nav {
	height: 34px;
	background: #ff6200;
	line-height: 0px;
	font-family: Oswald, Helvetica, Arial, 'sans-serif';
}

	.top-nav ul li {
		display: inline;
		list-style: none;
	}

.nav-text {
	margin-top: 17px;
}

.log-up {
	float: right;
}


a {
	text-decoration: none;
}

.sub-nav {
	margin: 0px;
	height: 109px;
	background: #f9f9f9;
}

.sub-nav ul li {
	list-style: none;
	}

.logo {
	margin: 0px;
	padding-top: 33px;
}




.social {
    overflow: hidden;
	display: inline;
}
.social li {
	float: left;
	margin-left: 5px;
	margin-top: 63px;
}

.reach p {
	color: #363636;
	margin: 0px;
	padding: 0px;
}



/* The basis for the below was copied from http://www.emanuelblagonic.com/2006/10/11/create-your-own-drop-down-menu-with-nested-submenus-using-css-and-a-little-javascript/

The styling was modified to match the Photoshop document. */

#menu .title {
	margin: 40px 15px 0px;
	float:left;
	
}

#menu li ul li {
	margin: 0px -20px;
	padding: 0px;
}
#menu {
	font-size: 11px;
}

#menu, #menu ul {
	list-style:none;
	padding:0;
	margin:0;
}
#menu li {
	float: left;
}

#menu li div {
	min-height: 80px;
	position: relative;
	left: -15px;
	
}

#menu li ul {
	position:absolute;
	display:none;
	width: 100px;
	padding: 17px 0px 20px;
}


#menu li ul li {
	margin-left: -12px;
	padding-bottom: 15px;
}

#menu li ul li:last-child {
	padding-bottom: 0px;
}


#menu ul li .subsubmenu1 {

	top: -81px;
	left: -10px;
	margin-left: 10em;
}

#menu ul li .subsubmenu2 {

	top: -51px;
	left: -10px;
	margin-left: 10em;
}

#menu ul li .subsubmenu3 {

	top: -21px;
	left: -10px;
	margin-left: 10em;
}

#menu a {
	display: block;
	border-right: 1px solid #fff;
	color: #333;
	text-decoration: none;
	padding: 0px;
	margin: 0px 30px;
}

#menu li:hover > .title {

	border-style: none none solid none;
	border-bottom-color: #ff6200;
	border-bottom-width: 5px;
	margin-bottom: -5px;
	padding-bottom: 8px;
	font-weight: bold;
}

#menu li:hover > .submenu1 {
	font-weight: bold;
}

#menu li ul .bold:hover {
	font-weight: bold;
}



/* SHOW SUBMENU 1 */
#menu li:hover ul, #menu li.over ul {
	display:block;
	background: white;
	padding-right: -10px;
	position: absolute;
	margin-top: 80px;
	border-style: solid;
	border-width: thin;
	border-color: black;
}

#menu li:hover ul ul, #menu li.over ul ul {
	display:none;
}
/* SHOW SUBMENU 2 */
#menu ul li:hover ul, #menu ul li.over ul {
	display:block;
}
